{% extends 'base.html.twig' %}

{% block title %}Notiz bearbeiten!{% endblock %}

{% block body %}

<h1>Notiz bearbeiten</h1>

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}

    <button type="submit" name="button">Speichern</button>
{{ form_end(form) }}

<div>
    <a href="{{ path('dashboard') }}">Abbrechen</a>
</div>

{% endblock %}
