{% extends 'base.html.twig' %}

{% block title %}Hello RechnungenController!{% endblock %}

{% block body %}

<h1>Rechnung bearbeiten</h1>

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}

    <button type="submit" name="button">Speichern</button>
{{ form_end(form) }}

<div>
    <a href="{{ path('rechnungen') }}">Abbrechen</a>
</div>

{% endblock %}
